:root{
    --bf-primary: #1abc9c;
    --bf-dark: #2c3e50;
    --bf-dark-soft: #3a546d;
}


.ms-bg-primary {
    background-color: var(--bf-primary);
}

.ms-bg-dark {
    background-color: var(--bf-dark);
}

.ms-bg-dark-soft {
    background-color: var(--bf-dark-soft);
}

.btn {
    background-color: var(--bf-primary);
    color: white;
}

.navbar-toggler {
    border-color: rgba(255, 255, 255, 0.51);
}

.card {
    background-color: transparent;
    border: 0;
}



.divider-white,
.divider-dark {
    position: relative;
    display: flex;
    justify-content: center;
}

.divider-white .line,
.divider-dark .line {
    width: 250px;
    border-radius: 5px;
}

.divider-white .line {
    border: 2px solid white;
}

.divider-white .fa-star {
    position: absolute;
    top: 2px;
    left: 50%;
    background-color: var(--bf-primary);
    width: 50px;
    transform: translate(-50%, 0);
    color: white;
}

.divider-dark .line {
    border: 2px solid var(--bf-dark);
}

.divider-dark .fa-star {
    position: absolute;
    top: 2px;
    left: 50%;
    background-color: white;
    width: 50px;
    transform: translate(-50%, 0);
    color: var(--bf-dark);
}


#skills nav {
    font-size: 0.9rem;
    flex-wrap: nowrap;
}

.footer > .quick_links a {
    border: 1px solid white;
    border-radius: 50%;
    width: 50px;
    aspect-ratio: 1/ 1;
    display: flex;
    justify-content: center;
    align-items: center;
}



.footer .top p > a {
    color: var(--fl-primary);
}

@media screen and (min-width:576px) {
    
}

@media screen and (min-width:768px) {

    .container-sm .avatar{
        width: 25%;
    }

    .fs-6.fw-bold {


    }

}

@media screen and (min-width:992px) {

}

@media screen and (min-width:1200px) {

}

@media screen and (min-width:1400px) {

}